<form [formGroup]="cryptoFormControl" >

  <div>
    <label for="quantity-input">Ajouter une crypotmonnaie</label>

    <input
           [formControl]="nameFormControl"
           [matAutocomplete]="auto"
      type="search"
    >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>

  </div>

  <div>
    <label for="quantity-input">Quantité en Crypto</label>
    <input id="quantity-input" type="number" formControlName="cryptocurrency_amount"/>
  </div>

  <div>
    <label for="investment-input">Investissement en dollars</label>
    <input id="investment-input" type="number" formControlName="investment_amount"/>
  </div>

  <div>
    <label for="price-input">Prix à l'unité</label>
    <input id="price-input" type="number" formControlName="unitPrice"/>
  </div>

  <app-generic-action-button [styleObject]="{margin:'10px'}" [label]="'Ajouter'" [wantUppercase]="false"
                             (click)="addCrypto()"></app-generic-action-button>
</form>


