<div [formGroup]="cryptoFormControl" class="add-form-wrapper">

  <mat-form-field appearance="fill">
    <mat-label>Ajouter une cryptomonnaie</mat-label>
    <mat-select formControlName="name">
      <mat-option *ngFor="let crypto of cryptoList" [value]="crypto">
        {{crypto}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <form class="example-form">
    <input type="text"
           placeholder="Search for a street"
           [formControl]="control"
           [matAutocomplete]="auto"
           class="example-input">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
        {{street}}
      </mat-option>
    </mat-autocomplete>


    <div>
      <label for="quantity-input">Quantité en Crypto</label>
      <input id="quantity-input" type="number" formControlName="cryptocurrency_amount"/>
    </div>

    <div>
      <label for="investment-input">Investissement en dollars</label>
      <input mat-in id="investment-input" type="number" formControlName="investment_amount"/>
    </div>

    <div>
      <label for="price-input">Prix à l'unité</label>
      <input id="price-input" type="number" formControlName="unitPrice"/>
    </div>

    <app-generic-action-button [label]="'Ajouter'" [wantUppercase]="false"
                               (click)="addCrypto()"></app-generic-action-button>
  </form>

</div>


