<form [formGroup]="cryptoFormControl" >

  <h2 class="title">Ajouter une cryptomonnaie</h2>

  <div>
    <label for="quantity-input">Nom</label>

    <input
           [formControl]="nameFormControl"
           [matAutocomplete]="auto"
      type="search"
    >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>

  </div>

  <div>
    <label for="quantity-input">Quantité en Crypto</label>
    <input id="quantity-input" type="number" formControlName="cryptocurrency_amount"/>
  </div>

  <div>
    <label for="investment-input">Investissement en dollars</label>
    <input id="investment-input" type="number" formControlName="investment_amount"/>
  </div>

  <app-generic-action-button [label]="'Ajouter'"
                             [name]="'Ajouter une cryptomonnaie'"
                             [styleObject]="{margin:'10px', background: 'rgba(var(--primary),0.5)',color:'white'}"
                             [wantUppercase]="false"
                             (click)="addCrypto()"></app-generic-action-button>
</form>


