.sidenav-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  background : var(--linear-background);
  flex-direction: column;
  width: fit-content;

  .menu-container {
    overflow: auto;
    background : var(--linear-background);
  }
}
