<mat-drawer-container autosize>

  <div>
    <app-generic-action-button [styleObject]="{position:'fixed'}"  [wantMiniFab]="true" [iconName]=" drawer.opened ? 'menu_open' : 'menu'" (click)="drawer.toggle()">
    </app-generic-action-button>
  </div>
  <mat-drawer #drawer mode="side" opened>
    <div class="mat-drawer-inner-container">
      <svg class="svg-logo" height="100" viewBox="0 0 180 140" width="140" xmlns="http://www.w3.org/2000/svg">
        <title>logo_generic_icon-svg</title>
        <g>
          <path class="s0" d="m139 70l-49-49-49 49 49 49z" id="Layer"/>
          <path d="m126.8 70l-36.8-36.8-36.8 36.8 36.8 36.8z" id="Layer"/>
          <path class="s2" d="m78.5 70l-34.7-34.7-34.8 34.7 34.8 34.7z" id="Layer"/>
          <path d="m66.2 70l-22.4-22.5-22.5 22.5 22.5 22.5z" id="Layer"/>
          <path class="s2" d="m171 70l-34.8-34.7-34.7 34.7 34.7 34.7z" id="Layer"/>
          <path d="m158.7 70l-22.5-22.5-22.4 22.5 22.4 22.5z" id="Layer"/>
          <path class="s2" d="m65.9 57.4l-6.2-6.2-6.1 6.2 6.1 6.1z" id="Layer"/>
          <path class="s2" d="m73.1 64.5l-7.2-7.1-6.2 6.1 7.2 7.2z" id="Layer"/>
          <path class="s2" d="m73 75.4l-6.1-6.1-6.1 6.1 6.1 6.2z" id="Layer"/>
          <path class="s0" d="m59.7 63.5l-6.1-6.1-6.4 6.5 6.1 6.1z" id="Layer"/>
          <path class="s0" d="m53.7 70.4l-6.6-6.6-6.2 6.2 6.6 6.6z" id="Layer"/>
          <path class="s0" d="m59.7 76.5l-6-6.1-6.2 6.2 6.1 6z" id="Layer"/>
          <path class="s0" d="m66.1 82.9l-6.7-6.6-6.1 6 6.7 6.8z" id="Layer"/>
          <path class="s0" d="m113.1 56.4l7.5 7.4 6.3-6-7.7-7.6z" id="Layer"/>
          <path class="s0" d="m120.3 63.5l5.9 5.8 6.1-6.1-5.9-5.9z" id="Layer"/>
          <path class="s0" d="m126.1 69.3l6.6 6.6 6.2-6.2-6.6-6.6z" id="Layer"/>
          <path class="s0" d="m120.1 76.3l6.1 6.2 6.5-6.6-6.1-6.1z" id="Layer"/>
          <path class="s3" d="m114 82.4l6.1 6.1 6.1-6.1-6.1-6.1z" id="Layer"/>
        </g>
      </svg>

      <app-theme-toggle></app-theme-toggle>

      <div class="menu-links-wrapper">
        <a [routerLink]="['/home']" routerLinkActive="activated-link"> <mat-icon>home</mat-icon>Menu</a>
        <a [routerLink]="['/wallet']" routerLinkActive="activated-link"> <mat-icon>account_balance_wallet</mat-icon> Portefeuille</a>
        <a [routerLink]="['/graphics']" routerLinkActive="activated-link"><mat-icon>analytics</mat-icon>Graphiques</a>
      </div>

      <app-generic-action-button [wantUppercase]="false" [wantMiniFab]="true" [iconName]="'logout'" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </app-generic-action-button>
    </div>
  </mat-drawer>
</mat-drawer-container>
