mat-drawer-container {
  height: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background: var(--background);
  width: fit-content;


  .sidenav-toggle-button {
    display: flex;
    border-radius: 100rem;
  }

  mat-drawer {
    display: flex;
    overflow: auto;
    position: fixed;
    background: linear-gradient(var(--linear-background));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    .mat-drawer-inner-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;
      padding: 20px;
      gap: 20px;

      .svg-logo {
        fill: rgba(var(--background));
      }

      .menu-links-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        margin: 10px;
        align-items: flex-start;

        a {
          display: flex;
          gap:10px;
          color: rgba(var(--primary));
          text-decoration: none;
          font-size: 1.2rem;
          font-weight: 500;
          padding: 10px;
          min-width: 190px;
          border-radius: 8px;

          &:hover {
            background: rgba(var(--background), 0.4);
            color: rgba(var(--primary), 0.8);
            transition: all 0.3s ease-in-out;
          }
          .mat-icon {
            color: rgba(var(--primary),0.5);
          }
        }

        .activated-link {
          background: rgba(var(--background), 0.4);
          color: rgba(var(--primary), 0.8);
        }
      }

      .custom-button {
        border-radius: 100rem;
      }
    }
  }
}
