.sidenav-container {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background : #282828;

  .menu-container {
    overflow: auto;
    background : #282828;
  }
}
