.theme-toggle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: rgba(var(--background));
  border-radius: 100rem;
  transition: box-shadow 0.2s ease-in-out;
}

.theme-toggle-wrapper:hover {
  cursor: pointer;
}

.theme-toggle-wrapper:active {
  cursor: pointer;
  box-shadow: unset;
  transition: box-shadow 0.1s ease-in-out;
}
