<div class="overview-wrapper">
  <h2 class="title">Statistiques</h2>
  <div>
    Valeur investie :
    <app-generic-value-coloration [sign]="'$'" [value]="totalInvest"
                                  [wantColors]="false"></app-generic-value-coloration>

  </div>

  <div>
    Valeur des gains :
    <app-generic-value-coloration [sign]="'$'" [value]="totalGain"></app-generic-value-coloration>
  </div>

  <div>
    Valeur actuelle :
    <app-generic-value-coloration [sign]="'$'" [value]="totalInvest + totalGain"
                                  [wantColors]="false"></app-generic-value-coloration>
  </div>

  <div>
    Retour sur investissement :
    <app-generic-value-coloration [sign]="'%'"
                                  [value]="(totalGain / totalInvest) * 100"></app-generic-value-coloration>
  </div>
</div>
