section {
  display: flex;

  * {
    color: rgba(var(--primary));
  }

  h1 {
    letter-spacing: 0.025em;
    font-weight: 500;
    margin-top: -2rem;
  }

  .authentication-background {
    display: flex;
    margin: 0 auto;
    width: 50%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .right {
    display: flex;
    flex-direction: column;
    background: linear-gradient(var(--linear-background));
    -moz-background-image: linear-gradient(var(--linear-background));

    .right-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px;
      margin: 10px;
      align-items: flex-end;
    }

    .authentication-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(var(--background));
      color: rgba(var(--text));
      padding: 20px 40px;
      border-radius: 15px;

      .form-header {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .svg-logo {
        fill: rgba(var(--background));
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 30px 20px;
      }

      .input-wrapper {
        display: flex;
        margin: 10px;
        gap: 10px;
        align-items: center;

        .svg-icon {
          fill: rgba(var(--primary));
        }

        .stroke {
          stroke: rgba(var(--background));
        }

        input {
          border: none;
          outline: none;
          background: transparent;
          color: rgba(var(--text));
          font-size: 1rem;
          padding: 10px;
          border-bottom: 2px solid rgba(var(--primary));
          width: 100%;
          margin: 5px 0;
        }

        input::placeholder {
          color: rgba(var(--primary));
        }

        input:focus::placeholder {
          color: var(--secondary-text);
          font-size: 0.9rem;
          transition: color .2s ease, font-size .2s ease;
        }
      }

      .signup-redirection {
        display: flex;
        gap: 10px;
        align-items: center;
        margin: 20px;

        span {
          cursor: pointer;
          color: rgba(var(--secondary-text));
          text-decoration: none;
        }

        span:after {
          content: "";
          display: block;
          width: 0;
          height: 1px;
          left: 0;
          bottom: 0;
          right: 0;
          margin: 0 auto;
          background: rgba(var(--primary));
          transition: width 0.2s;
        }

        span:hover:after {
          width: 100%;
          transition: width 0.2s;
        }
      }
    }
  }

  @media (max-width: 768px) or (max-height: 540px) {
    ng-lottie {
      display: none;
    }
    .right {
      width: 100%;
    }
    .left {
      display: none;
    }
  }
}
