.card-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 50px;
  width: 240px;
  padding: 20px;
  border-radius: 8px;
  background: rgba(var(--background), 0.7);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.20);

  .img-style {
    border-radius: 10rem;
    padding: 1px;
    background: white;
  }
}

@media (max-width: 768px) {
  .card-wrapper {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}
