<button [ngStyle]="styleObject" *ngIf="wantMiniFab; else flatButton" mat-mini-fab>
  <div *ngIf="iconName !== ''" style="display: flex" [ngStyle]="iconStyleObject">
    <mat-icon>{{iconName}}</mat-icon>
  </div>
</button>

<ng-template #flatButton>
  <button [ngStyle]="styleObject" mat-flat-button>
    <div *ngIf="iconName !== ''" style="display: flex" [ngStyle]="iconStyleObject">
      <mat-icon>{{iconName}}</mat-icon>
    </div>
    {{wantUppercase ? (label | uppercase) : label}}
  </button>
</ng-template>

