<button *ngIf="wantMiniFab; else flatButton" [name]="name" [ngStyle]="styleObject" mat-mini-fab tabindex="0">
  <div *ngIf="iconName !== ''" style="display: flex" [ngStyle]="iconStyleObject">
    <mat-icon>{{iconName}}</mat-icon>
  </div>
</button>

<ng-template #flatButton>
  <button [name]="name" [ngStyle]="styleObject" mat-flat-button tabindex="0">
    <div *ngIf="iconName !== ''" style="display: flex" [ngStyle]="iconStyleObject">
      <mat-icon>{{iconName}}</mat-icon>
    </div>
    {{wantUppercase ? (label | uppercase) : label}}
  </button>
</ng-template>

