button[mat-flat-button] {
  background: rgba(var(--primary));
  padding: 20px 25px;
  border-radius: 8px;
  font-size: 1rem;
  color: rgba(var(--background));
}

button[mat-mini-fab] {
  background: rgba(255, 255, 255, 0.4);
  padding: 30px;
  margin: 20px;
  border-radius: 1rem;
  font-size: 1rem;
  color: rgba(var(--primary));

  .icon-wrapper {
    display: flex;
    border-radius: 100rem;
    padding: 8px;
    background: rgba(var(--primary));
    color: rgba(var(--background));
  }
}
