:root {
  --background: 245, 248, 250;
  --secondary-background: 255, 255, 255;
  --primary: 109, 107, 255;
  --secondary: 21, 255, 255;
  --border: 198, 235, 241;
  --text: 0, 0, 0;
  --loss: 255, 17, 86;
  --gain: 2, 182, 95;
  --favorite: 255, 219, 90;

}
