@use '@angular/material' as mat;

@include mat.core();

$my-palette: mat.define-palette(mat.$indigo-palette);
$my-palette2: mat.define-palette(mat.$purple-palette);
$primary : mat.define-palette(mat.$purple-palette);
// Apply the light theme only when the user prefers light themes.
.light-theme {
  background: mat.get-color-from-palette($my-palette, 500);
  color: mat.get-color-from-palette($my-palette, '500-contrast');
}

.dark-theme {
  background: mat.get-color-from-palette($my-palette2, 500);
  color: mat.get-color-from-palette($my-palette2, '500-contrast');
}

body {
  background: var(--background);
}

:root {
  --linear-background: linear-gradient(137.37deg, rgba(121, 223, 224, 0.4) 0%, rgba(116, 114, 249, 0.4) 100%);
  --secondary-text: #B9C6CF;
}
