
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cryptoWallet-primary: mat.define-palette(mat.$indigo-palette);
$cryptoWallet-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$cryptoWallet-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cryptoWallet-theme: mat.define-light-theme((
  color: (
    primary: $cryptoWallet-primary,
    accent: $cryptoWallet-accent,
    warn: $cryptoWallet-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($cryptoWallet-theme);

@import 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

$my-palette: mat.define-palette(mat.$indigo-palette);
$my-palette2: mat.define-palette(mat.$purple-palette);
$primary: mat.define-palette(mat.$purple-palette);

.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0 !important;
}

// Apply the light theme only when the user prefers light themes.
.light-theme {
  background: mat.get-color-from-palette($my-palette, 500);
  color: mat.get-color-from-palette($my-palette, '500-contrast');
}

.dark-theme {
  background: mat.get-color-from-palette($my-palette2, 500);
  color: mat.get-color-from-palette($my-palette2, '500-contrast');
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgba(var(--background));
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px  rgba(var(--background)) inset !important;
  -webkit-text-fill-color:  rgba(var(--primary)) !important;
}

:root {
  font-family: 'Inter', sans-serif, Arial, Helvetica, sans-serif;
  --linear-background: 137.37deg, #79DFE066 0%, #7472F966 100%;
  --secondary-text: 185, 198, 207;
}

// svg logo classes
.s0 {
  fill: #15ffff
}

.s2 {
  fill: #6b68fd
}

.s3 {
  fill: #6d6bff
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, "Helvetica Neue", sans-serif;
}

.slide-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tradingview-tickers-wrapper {
  width: 100%;
}
