<div class="home-wrapper">
  <app-side-nav>
  </app-side-nav>

  <div class="slide-wrapper">

    <div class="home-component-wrapper">

      <label>Favoris</label>

      <div class="cards-wrapper">

        <div *ngFor="let wallet of favoritesArray">
          <app-generic-card [image]="wallet.CryptoDataModel.image">
            <div class="card-content">
              <div>{{wallet.CryptoDataModel.name}}</div>
              <div>{{wallet.CryptoDataModel.price_change_24_percentage | number}} %</div>
              <div>{{wallet.CryptoDataModel.price | number}} $</div>
            </div>
          </app-generic-card>
        </div>

        <div *ngIf="favoritesArray.length === 0">
          <app-generic-card>
            <div class="card-content">
              <div>Aucun favoris</div>
              <div>Ajoutez des favoris dans la section 'Portefeuille'</div>
            </div>
          </app-generic-card>

        </div>

      </div>

    </div>

  </div>

</div>
