<div class="home-wrapper">
  <app-side-nav>
  </app-side-nav>

  <div class="slide-wrapper">

    <app-generic-tv-widget [scriptSrc]="'https://s3.tradingview.com/external-embedding/embed-widget-tickers.js'"
                           [scriptTextObject]="{
  symbols: [
  {
    description: 'Bitcoin',
    proName: 'BINANCE:BTCUSD'
  },
  {
    description: 'Ethereum',
    proName: 'BINANCE:ETHUSD'
  },
  {
    description: 'Binance-coin',
    proName: 'BINANCE:BNBUSD'
  },
  {
    description: 'Apple',
    proName: 'NASDAQ:AAPL'
  }
],
  colorTheme: actualTheme,
  isTransparent: false,
  showSymbolLogo: true,
  locale: 'en'
}"
                           class="tradingview-tickers-wrapper"
    >
    </app-generic-tv-widget>

    <div class="home-component-wrapper">

      <label>Favoris</label>

      <div class="cards-wrapper">

        <div *ngFor="let wallet of favoritesArray">
          <app-generic-card
            [imageData]="{url : wallet.CryptoDataModel.image, dominantColor : wallet.CryptoDataModel.dominant_color}">
            <div class="card-content">
              <div>{{wallet.CryptoDataModel.name}}</div>
              <app-generic-value-coloration [value]="wallet.CryptoDataModel.price_change_24_percentage"
                                            [wantColors]="false">
              </app-generic-value-coloration>
              <div>{{wallet.CryptoDataModel.price | number}} $</div>
            </div>
          </app-generic-card>
        </div>

        <div *ngIf="favoritesArray.length === 0">
          <app-generic-card>
            <div class="card-content" style="color:rgba(var(--primary))">
              <div>Aucun favoris</div>
              <div>Ajoutez des favoris dans la section 'Portefeuille'</div>
            </div>
          </app-generic-card>

        </div>

      </div>

      <div class="favorites-footer-wrapper">
        <app-statistics-card class="statistics-wrapper">
        </app-statistics-card>

        <app-links-bar>
        </app-links-bar>

        <app-generic-tv-widget
          [scriptSrc]="'https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js' "
          [scriptTextObject]="{
                                interval: '1h',
                                width: '345',
                                isTransparent: false,
                                height: '385',
                                symbol: 'BINANCE:BTCUSD',
                                showIntervalTabs: 'true',
                                locale: 'en',
                                colorTheme:actualTheme
                                }"
          class="sticker-wrapper"
        >
        </app-generic-tv-widget>

      </div>

    </div>

  </div>

</div>
