.wallet-wrapper {
  display:flex;
  color : white;
}
.component-wrapper {
  display: flex;
  width: 100%;
  padding:30px;
  align-items: center;
  flex-direction: column;

  .last-update {
    font-size: 0.8rem;
    color: rgba(var(--secondary-text));
  }

}
