<div class="wallet-wrapper">
  <app-side-nav>
  </app-side-nav>

  <div class="slide-wrapper">

    <div class="component-wrapper">

      <div class="mini-header-wrapper">
        <app-add-cryptocurrency>
        </app-add-cryptocurrency>

        <div class="widgets-wrapper">
          <div class="last-update">
            <span>Dernière mise à jour : {{lastUpdate}}</span>
          </div>

          <app-statistics-card class="statistics-wrapper">
          </app-statistics-card>
        </div>
      </div>

      <app-cryptocurrency-table-data [dataArray]="cryptoData" [totalGain]="totalGain" [totalInvest]="totalInvest"
                                     (actionButtonEvent)="actions($event)">
      </app-cryptocurrency-table-data>
    </div>

  </div>

</div>
