.wallet-wrapper {
  display: flex;

  .last-update {
    font-size: 0.8rem;
    color: rgba(var(--text), 0.3);
    display: flex;
    padding: 10px 20px;
    white-space: nowrap;
    height:fit-content;
    border-radius: 8px;
    background: rgba(var(--secondary-background));
  }

  .component-wrapper {
    display: flex;
    width: 100%;
    padding: 30px 0;
    align-items: center;
    flex-direction: column;
  }

}

